Repository MagdielCAS/gm-smart-shield: changes, and which lefthook commands are due for each by the changed paths.
All: api-lint, web-lint, api-test, web-test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    api-lint:
      root: "apps/api/"
      glob: "apps/api/**/*.py"
      run: uv run ruff check {staged_files}
    web-lint:
      root: "apps/web/"
      glob: "apps/web/**/*.{ts,tsx,js,jsx,json,css}"
      run: pnpm biome check --no-errors-on-unmatched {staged_files}
    api-test:
      glob: "apps/api/**/*.py"
      run: make api-test-staged
    web-test:
      glob: "apps/web/src/**/*.{ts,tsx}"
      run: make web-test-staged

pre-push:
  commands:
    test:
      run: make test

feat(ui): ✨ add icon size to glass button
  apps/web/src/components/ui/GlassButton.tsx
Due: web-lint, web-test

refactor: update agentic system to use langchain deepagents
  apps/api/gm_shield/features/chat/service.py
  apps/api/gm_shield/features/encounters/service.py
  apps/api/gm_shield/features/knowledge/agents/reference.py
  apps/api/gm_shield/features/knowledge/agents/sheet.py
  apps/api/gm_shield/features/knowledge/tasks.py
  apps/api/gm_shield/features/mcp/__init__.py
  apps/api/gm_shield/features/mcp/routes.py
  apps/api/gm_shield/features/mcp/server.py
  apps/api/gm_shield/features/mcp/server_stdio.py
  apps/api/gm_shield/features/notes/agents/tagger.py
  apps/api/gm_shield/main.py
  apps/api/gm_shield/shared/llm/subagents.py
  apps/api/pyproject.toml
  apps/api/test_deepagents.py
  apps/api/test_langchain_ollama.py
  apps/api/test_mcp_client.py
  apps/api/tests/features/steps/test_background_agents.py
  apps/api/tests/features/steps/test_query_agent.py
  apps/api/uv.lock
Due: api-lint, api-test

tests: fix e2e tests
  apps/web/.features-gen/tests/features/home.feature.spec.js
  apps/web/.features-gen/tests/features/knowledge.feature.spec.js
  apps/web/playwright-report/index.html
  apps/web/test-results/.last-run.json
  apps/web/tests/steps/knowledge.steps.ts
Due: web-lint

Implement Phase 1 & 2 of AI Agents (Chat, Notes, Tagging)
  apps/api/gm_shield/features/notes/agents/tagger.py
  apps/api/gm_shield/features/notes/schemas.py
  apps/api/gm_shield/features/notes/service.py
  apps/api/gm_shield/shared/llm/agent.py
  apps/api/tests/features/steps/test_tagging_agent.py
  apps/api/tests/features/tagging_agent.feature
  apps/web/src/components/Layout.tsx
  apps/web/src/components/notes/NoteEditor.tsx
  apps/web/src/components/notes/NoteList.tsx
  apps/web/src/components/notes/TagList.tsx
  apps/web/src/lib/api/notes.ts
  notes_error.png
  notes_verification.png
  verify_notes.py
Due: api-lint, web-lint, api-test, web-test

fix lint and format
  apps/api/gm_shield/features/notes/service.py
  apps/api/gm_shield/shared/llm/agent.py
  apps/api/tests/features/steps/test_tagging_agent.py
  apps/web/src/components/Layout.tsx
  apps/web/src/components/notes/NoteEditor.tsx
  apps/web/src/components/notes/NoteList.tsx
  apps/web/src/components/notes/TagList.tsx
Due: api-lint, web-lint, api-test, web-test

fix: adjustments from rebase with main
  apps/api/gm_shield/features/encounters/routes.py
  apps/api/gm_shield/features/encounters/service.py
  apps/api/gm_shield/features/knowledge/agents/reference.py
  apps/api/gm_shield/features/knowledge/agents/sheet.py
  apps/api/gm_shield/features/knowledge/models.py
  apps/api/gm_shield/features/knowledge/schemas.py
  apps/api/gm_shield/features/knowledge/schemas_agent.py
  apps/api/gm_shield/features/knowledge/service.py
  apps/api/gm_shield/features/knowledge/tasks.py
  apps/api/gm_shield/features/notes/service.py
  apps/api/gm_shield/shared/llm/__init__.py
  apps/api/gm_shield/shared/llm/agent.py
  apps/api/gm_shield/shared/llm/client.py
  apps/api/tests/features/steps/test_background_agents.py
  apps/api/tests/features/steps/test_encounter_agent.py
  apps/api/tests/features/steps/test_llm_health.py
  apps/api/tests/features/steps/test_tagging_agent.py
  apps/api/tests/unit/test_knowledge_list_stats.py
  apps/web/src/pages/KnowledgePage.test.tsx
  apps/web/src/pages/KnowledgePage.tsx
Due: api-lint, web-lint, api-test, web-test

perf: :zap: improve commit hooks performance by checking only staged files
  Makefile
  lefthook.yml
Due: none

feat: integrate Obsidian vaults for local note synchronization
  apps/api/gm_shield/features/notes/entities.py
  apps/api/gm_shield/features/notes/git_sync.py
  apps/api/gm_shield/features/notes/models.py
  apps/api/gm_shield/features/notes/routes.py
  apps/api/gm_shield/features/notes/service.py
  apps/api/pyproject.toml
  apps/api/uv.lock
  apps/web/dist-electron/main.cjs
  apps/web/dist-electron/main.cjs.map
  apps/web/dist-electron/preload.cjs
  apps/web/dist-electron/preload.cjs.map
  apps/web/electron/main.cts
  apps/web/electron/preload.cts
  apps/web/src/api/notes.ts
  apps/web/src/pages/NotesPage.tsx
  fix_test.py
  get_response.py
  test.py
Due: api-lint, web-lint, api-test, web-test

feat: integrate obsidian vaults for note management and sync
  apps/api/gm_shield/features/notes/git_sync.py
Due: api-lint, api-test

feat: implement page summarization agent, add quick reference API, and introduce character sheet management system with UI components.
  apps/api/gm_shield/features/knowledge/agents/page_summary.py
  apps/api/gm_shield/features/knowledge/agents/reference.py
  apps/api/gm_shield/features/knowledge/agents/sheet.py
  apps/api/gm_shield/features/knowledge/models.py
  apps/api/gm_shield/features/knowledge/router.py
  apps/api/gm_shield/features/knowledge/schemas.py
  apps/api/gm_shield/features/knowledge/service.py
  apps/api/gm_shield/features/knowledge/tasks.py
  apps/api/gm_shield/features/sheets/models.py
  apps/api/gm_shield/features/sheets/router.py
  apps/api/gm_shield/features/sheets/schemas.py
  apps/api/gm_shield/features/sheets/service.py
  apps/api/gm_shield/main.py
  apps/api/gm_shield/shared/llm/subagents.py
  apps/api/tests/features/steps/test_background_agents.py
  apps/api/tests/unit/test_knowledge_service.py
  apps/web/src/App.tsx
  apps/web/src/components/sheets/NewSheetModal.tsx
  apps/web/src/components/ui/Modal.tsx
  apps/web/src/pages/PlayerSheetPage.tsx
  apps/web/src/pages/SheetDetailsPage.tsx
  apps/web/src/pages/SheetsPage.tsx
Due: api-lint, web-lint, api-test, web-test

refactor: replace pypdf with opendataloader-pdf for llm-optimized markdown extraction
  apps/api/Dockerfile
  apps/api/gm_shield/features/knowledge/service.py
  apps/api/pyproject.toml
  apps/api/tests/unit/test_knowledge_extraction.py
  apps/api/uv.lock
Due: api-lint, api-test

refactor: remove Electron support in favor of a web-based architecture with file upload capabilities.
  .github/workflows/electron-ci.yml
  .github/workflows/release.yml
  .vscode/launch.json
  AGENTS.md
  Makefile
  README.md
  apps/api/gm_shield/core/config.py
  apps/api/gm_shield/features/knowledge/router.py
  apps/api/gm_shield/features/knowledge/schemas.py
  apps/api/tests/features/steps/test_knowledge_status.py
  apps/api/tests/unit/test_knowledge_routes.py
  apps/web/.dockerignore
  apps/web/Dockerfile
  apps/web/dist-electron/main.cjs
  apps/web/dist-electron/main.cjs.map
  apps/web/dist-electron/preload.cjs
  apps/web/dist-electron/preload.cjs.map
  apps/web/electron/main.cts
  apps/web/electron/preload.cts
  apps/web/nginx.conf
  apps/web/package.json
  apps/web/pnpm-workspace.yaml
  apps/web/src/App.tsx
  apps/web/src/pages/KnowledgePage.test.tsx
  apps/web/src/pages/KnowledgePage.tsx
  apps/web/src/types.d.ts
  apps/web/tests/steps/knowledge.steps.ts
  apps/web/tsconfig.electron.json
  apps/web/tsconfig.electron.tsbuildinfo
  apps/web/tsconfig.json
  docker-compose.yml
  docs/adr/0003-remove-electron.md
Due: api-lint, web-lint, api-test, web-test

chore: remove local Ollama service and update connection to host, and add run-docker make command
  Makefile
  apps/web/pnpm-lock.yaml
  docker-compose.yml
Due: none

feat: add CLAUDE.md documentation and standardize API route prefixing for health endpoints
  CLAUDE.md
  apps/api/gm_shield/features/health/routes.py
  apps/api/gm_shield/main.py
  apps/api/tests/unit/test_health.py
  apps/web/.env.production
Due: api-lint, api-test
